{% extends 'base/base.html' %}
{% load static %}
{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="{% static 'css/style1.css'%}">

<style>

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.heading__content{
	padding-left: 180px; 
	padding-top: 70px; 
}

.razorpay-payment-button{
	font-family: 'Comfortaa', cursive;
	height: 50px;
	margin: 10px 40px;
	padding: 2px 40px;
	text-decoration: none;
	border-radius: 30px;
	line-height: 45px;
	color: #FFF;
	background: #F02D3A;
	border: 2px solid #fff;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}

.razorpay-payment-button:hover{
	background-color: rgba(240, 45, 58,0.5);
	color: #d83d3d;
}

@media only screen and (max-width: 767px) {
	
	.heading__content{
		padding-left: 10px; 
		padding-top: 50px; 
	}
	.heading__content__desc{
		font-size: 12px !important;
		margin: 0px !important; 
	}
	.btn-lg.product__button{
		font-size: 12px !important;
		padding: 10px 20px !important;
	}
	.heading__image{
		width: 167px;
		height: 283px;
		margin-top: 32px;
	}
}

</style>

{% endblock %}


{% block content %}
<title>{{ product.name }}</title>
<div class="fh5co-loader"></div>
	<div id="page">
    <nav class="fh5co-nav" style="background-color: #F02D3A; position: initial !important;" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="https://www.instagram.com/gymcounselor/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/gymcounselor"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UChvRw7rp9-gX00EpiCoMDNg"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gymcounselor/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!--<li><a href="{% url 'work' %}">Work</a></li>-->
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>

						    <li class="has-dropdown"><a>Services</a>
							{% for s in service %}
							   <ul class="dropdown">
							        <li><a href="{% url 'prod_detail' s.slug %}">{{ s.name }}</a></li>
							   </ul>
							   {% endfor %}
							</li>

							{% if request.user.is_authenticated %}
                            <li class="has-dropdown"><a> Hey, {{ user.first_name }}</a>
									<ul class="dropdown">
										<li><a href="{% url 'logout' %}">Logout</a></li>
									</ul>
							</li>
							{% else %}
                                <li class="btn-cta"><a href="{% url 'login' %}?next={{request.path}}"><span>Login</span></a></li>
                            {% endif %}
                        </ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

    {% comment %} <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm hero flex items-center"role="banner" data-stellar-background-ratio="0.5">
         <div class="container">
			<br>
			<div class="display-tc animate-box">
				<h1 style="color:#fff; font-size: x-large;">{{ product.name }}</h1>
				<p style="color:#fff; width:50%">{{ product.des }}</p>
				{% if request.user.is_authenticated %}
				<p><a class="btn btn-default btn-lg" href="{{ product.buyLink }}" style="background-color : #F02D3A;">Get your Custom Plan</a></p>
				{% else %}
				<p><a class="btn btn-default btn-lg" href="{% url 'register' %}?next={{request.path}}" style="background-color : #F02D3A;">Get a Custom Plan</a></p>
				{% endif %}
			</div>
			<div class="hero-image">
				<!-- <img src="../../media/{{ product.img_first }}" alt=""> -->
				<img src="../../media/bg_1.png" alt="">
			</div>
        </div> 
	<!--	<div class="overlay" style="background-image: url('../../media/{{ product.img_first }}'); background-repeat: no-repeat; shape-rendering: geometricprecision;"></div>-->
	<!--	<div class="container">-->
	<!--		<div class="row">-->
	<!--			<div class="col-md-8 col-md-offset-2 text-center">-->
	<!--				<div class="display-t">-->
	<!--					<div class="display-tc animate-box" data-animate-effect="fadeIn">-->
							<!--<h1>{{ product.name }}</h1>-->
							<!--<h2>{{ product.des }}</h2>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	</header> {% endcomment %}

		<div class="container-fluid" style = "background-color: #F02d3a">
			<div class="row">
				<div class="col-xs-6">
					<div class="display-tc animate-box heading__content">
						<h1 style="color:#fff; font-size: x-large; font-weight: 600">{{ product.name }}</h1>
						<p class = "heading__content__desc" style="color:#fff">{{ product.des }}</p>
						<br>
						{% if request.user.is_authenticated %}
						<p><a class="btn btn-default btn-lg product__button" href="{{ product.buyLink }}" style="background-color : #F02D3A; color: white;">Get your Custom Plan</a></p>
						{% else %}
						<p><a class="btn btn-default btn-lg product__button" href="{% url 'register' %}?next={{request.path}}" style="background-color : #F02D3A; color: white;">Get a Custom Plan</a></p>
						{% endif %}
					</div>
				</div>
				<div class="col-xs-6 text-center">
					<img src="../../media/bg_1.png" class = "heading__image" alt="product_heading_image">
				</div>
			</div>
		</div>

	{% comment %} <div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>How it Works</h2>
					<!--<p>We at GymCounselor work with scientific principles and data backed methodologies to help you see the results that you may have never seen.</p>-->
				</div>
			</div>
			<div class="row" >
				<div class="col-md-6 text-center"  style = "margin: 50px auto;">
					<div class="test" >
						<img class="img-responsive" src="../../media/{{ product.img_main }}" alt="test">
						<iframe width="300" height="550" src="https://www.youtube.com/embed/FoMlSB6ftQg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row services-inner">
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-search"></i>
								</span>
								<h3>{{ product.head1 }}</h3>
								<p>{{ product.desc1 }}</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-bowl"></i>
								</span>
								<h3>{{ product.head2 }}</h3>
								<p>{{ product.desc2 }}</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-heart"></i>
								</span>
								<h3>{{ product.head3 }}</h3>
								<p>{{ product.desc3 }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			{% if request.user.is_authenticated %}
			<p style="text-align:center;"><a class="btn btn-primary btn-outline with-arrow" href="{{ product.buyLink }}">Get your Custom Plan<i class="icon-arrow-right"></i></a></p>
			{% else %}
			<p style="text-align:center;"><a class="btn btn-primary btn-outline with-arrow" href="{% url 'register' %}?next={{request.path}}">Get a Custom Plan<i class="icon-arrow-right"></i></a></p>
			{% endif %}
		</div>
	</div> {% endcomment %}


	
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>How it Works New</h2>
					<!--<p>We at GymCounselor work with scientific principles and data backed methodologies to help you see the results that you may have never seen.</p>-->
				</div>
			</div>
			<div class="row" >
				<div class="col-12 text-center">
					<div class="test embed-responsive embed-responsive-16by9" >
						{% comment %} <img class="img-responsive" src="../../media/{{ product.img_main }}" alt="test"> {% endcomment %}
						<iframe class = "embed-responsive-item" src="https://www.youtube.com/embed/EdExFF05FGc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="container">
					<div class="col-12">
						<div class="row services-inner">
							<div class="col-md-4 col-sm-12">
								<div class="feature-center animate-box" data-animate-effect="fadeIn">
									<span class="icon">
										<i class="icon-search"></i>
									</span>
									<h3>{{ product.head1 }}</h3>
									<p>{{ product.desc1 }}</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="feature-center animate-box" data-animate-effect="fadeIn">
									<span class="icon">
										<i class="icon-bowl"></i>
									</span>
									<h3>{{ product.head2 }}</h3>
									<p>{{ product.desc2 }}</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="feature-center animate-box" data-animate-effect="fadeIn">
									<span class="icon">
										<i class="icon-heart"></i>
									</span>
									<h3>{{ product.head3 }}</h3>
									<p>{{ product.desc3 }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<br>
			{% if request.user.is_authenticated %}
			{% comment %} <p style="text-align:center;"><a class="btn btn-primary btn-outline with-arrow" href="{{ product.buyLink }}">Get your Custom Plan<i class="icon-arrow-right"></i></a></p> {% endcomment %}
			<div style="text-align:center;">
				<form action="/order_successmodal"  method="POST">
				{% csrf_token %}
					<script
						src="https://checkout.razorpay.com/v1/checkout.js"
						data-key="rzp_test_2GM0584mxsjPdZ"
						data-amount="2993"
						data-currency="INR"
						data-order_id = "{{payment.id}}"
						data-buttontext="Pay Online"
						data-name="GymCounselor"
						data-description="Fitness and healthcare"
						data-image="{% static 'images/logo1.png' %}"
						data-prefill.name="Sajal"
						data-prefill.email="sajal.kumar@example.com"
						data-theme.color="#F02D3A"
					></script>
					<input class="btn btn-default btn-lg" type="hidden" custom="Hidden Element" name="hidden">
				</form>
			</div>
			{% else %}
			<p style="text-align:center;"><a class="btn btn-primary btn-outline with-arrow" href="{% url 'register' %}?next={{request.path}}">Get a Custom Plan<i class="icon-arrow-right"></i></a></p>
			{% endif %}
		</div>
	</div>
	
	{% comment %} <form action="/order_successmodal"  method="POST">
	{% csrf_token %}
		<script
			src="https://checkout.razorpay.com/v1/checkout.js"
			data-key="rzp_test_2GM0584mxsjPdZ"
			data-amount="29935"
			data-currency="INR"
			data-order_id = "{{payment.id}}"
			data-buttontext="Pay Online"
			data-name="GymCounselor"
			data-description="Fitness and healthcare"
			data-image="{% static 'images/logo1.png' %}"
			data-prefill.name="Sajal"
			data-prefill.email="sajal.kumar@example.com"
			data-theme.color="#F02D3A"
		></script>
		<input class="btn btn-default btn-lg" type="hidden" custom="Hidden Element" name="hidden">
	</form> {% endcomment %}
	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Our Expert</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md col-sm animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static 'images/lakshmi.jpg' %}" >
						<h3>Lakshmi</h3>
						<strong class="role">M.Sc(Clinical Nutrition),<br> Specializes in long term weight management.</strong>
						<p>Passionate about nutrition and an expert in evaluating the dietary needs of a client Lakshmi has an inclination towards empowering others by understanding their symptoms, their bodies, and how even small diet and lifestyle changes can yield a more healthful, vibrant life in time. She is highly skilled in various fields of diet planning, nutrition counseling, management, public speaking, and healthcare.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-testimonial" class="fh5co-bg-section" style="background-color:#F2F2F2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 style = "color: black; font-family: 'Comfortaa'; font-size: 8vh;">Happy Clients</h2>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4" style = "margin-bottom: 20px">
					<a data-toggle="modal" href="#myModal1" data-backdrop="static">
						<img src="{% static 'images/trialvideothumb.png' %}" width="350" height="197" style = "border-radius: 20px 20px 0px 0px;" alt="video3"> 
					</a>
					{% comment %} <iframe style = "border-radius: 20px 20px 0px 0px;" width="350" height="197" src="https://www.youtube.com/embed/A-LMsArLW8o" frameborder="10" allow="accelerometer; autoplay; clipboard-write;   encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  {% endcomment %}
					<p style = "border-radius: 0px 0px 20px 20px; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); line-height: 1.0; font-family: 'Comfortaa', cursive; color: black; font-size: 3vh; background: #F7EDE2; width: 350px; margin: -10px auto 10px auto; padding: 10px" class = "text-left">
						Dhruv Kothari
						<br>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star-half-alt" style = "font-size: 2vh; color: #FFD700"></i>
						<br>
						<span style = "font-size: 1.5vh"; class = "text-left">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ullam repudiandae quas! Maiores ad ex, dolor delectus modi earum eligendi doloremque iste. Iure, optio laboriosam nostrum doloribus repellendus libero asperiores, sunt veniam, dolores porro sed autem reiciendis culpa sint architecto neque enim laborum totam.
						</span>
					</p>
				</div>
				<div class="col-md-4" style = "margin-bottom: 20px">
					<a data-toggle="modal" href="#myModal2" data-backdrop="static">
						<img src="{% static 'images/trialvideothumb.png' %}" width="350" height="197" style = "border-radius: 20px 20px 0px 0px;" alt="video3"> 
					</a>
					{% comment %} <iframe style = "border-radius: 20px 20px 0px 0px;" width="350" height="197" src="https://www.youtube.com/embed/EdExFF05FGc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  {% endcomment %}
					<p style = "border-radius: 0px 0px 20px 20px; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); line-height: 1.0; font-family: 'Comfortaa', cursive; color: black; font-size: 3vh; background: #F7EDE2; width: 350px; margin: -10px auto 10px auto; padding: 10px;" class = "text-left">
						Dhruv Kothari
						<br>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star-half-alt" style = "font-size: 2vh; color: #FFD700"></i>
						<br>
						<span style = "font-size: 1.5vh"; class = "text-left">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ullam repudiandae quas! Maiores ad ex, dolor delectus modi earum eligendi doloremque iste. Iure, optio laboriosam nostrum doloribus repellendus libero asperiores, sunt veniam, dolores porro sed autem reiciendis culpa sint architecto neque enim laborum totam.
						</span>
					</p>
				</div>
				<div class="col-md-4" style = "margin-bottom: 20px">
					<a data-toggle="modal" href="#myModal3" data-backdrop="static" >
						<img src="{% static 'images/trialvideothumb.png' %}" width="350" height="197" style = "border-radius: 20px 20px 0px 0px;" alt="video3"> 
					</a>
					<p style = "border-radius: 0px 0px 20px 20px; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); line-height: 1.0; font-family: 'Comfortaa', cursive; color: black; font-size: 3vh; background: #F7EDE2; width: 350px; margin: -10px auto 10px auto; padding: 10px" class = "text-left">
						Dhruv Kothari
						<br>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star" style = "font-size: 2vh; color: #FFD700"></i>
						<i class="fas fa-star-half-alt" style = "font-size: 2vh; color: #FFD700"></i>
						<br>
						<span style = "font-size: 1.5vh"; class = "text-left">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ullam repudiandae quas! Maiores ad ex, dolor delectus modi earum eligendi doloremque iste. Iure, optio laboriosam nostrum doloribus repellendus libero asperiores, sunt veniam, dolores porro sed autem reiciendis culpa sint architecto neque enim laborum totam.
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Button trigger modal -->
  {% comment %} <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">Launch demo modal</a> {% endcomment %}

  <!-- Modal video 1 -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeVideo1()">×</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body text-center" style = "padding-top: 66.66%;">
			<iframe id ="video1" class = "responsive-iframe" src="https://www.youtube.com/embed/A-LMsArLW8o" frameborder="10" allow="accelerometer; autoplay; clipboard-write;   encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
	{% comment %} <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/mjQVat-cLaw?autoplay=0&amp;mute=0&amp;controls=1&amp;origin=https%3A%2F%2Fwww.fittr.com&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=3" id="widget4"></iframe> {% endcomment %}
		</div>
         {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeVideo1()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> {% endcomment %}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal video 2 -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeVideo2()">×</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body text-center"  style = "padding-top: 66.66%;">
			<iframe id ="video2" class = "responsive-iframe" src="https://www.youtube.com/embed/A-LMsArLW8o" frameborder="10" allow="accelerometer; autoplay; clipboard-write;   encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
	{% comment %} <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/mjQVat-cLaw?autoplay=0&amp;mute=0&amp;controls=1&amp;origin=https%3A%2F%2Fwww.fittr.com&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=3" id="widget4"></iframe> {% endcomment %}
		</div>
         {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeVideo1()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> {% endcomment %}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal video 3 -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeVideo3()">×</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body text-center" style = "padding-top: 66.66%;">
			<iframe id ="video3" class = "responsive-iframe" src="https://www.youtube.com/embed/A-LMsArLW8o" frameborder="10" allow="accelerometer; autoplay; clipboard-write;   encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
	{% comment %} <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/mjQVat-cLaw?autoplay=0&amp;mute=0&amp;controls=1&amp;origin=https%3A%2F%2Fwww.fittr.com&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=3" id="widget4"></iframe> {% endcomment %}
		</div>
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeVideo1()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> {% endcomment %}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script>
  var closeVideo1 = function(){
	  $("#video1").each(function () {
				console.log("Happened");
				let vidurl = $(this).attr("src");
				console.log(vidurl);
                $(this).attr("src", '');
                $(this).attr("src", vidurl);
            });
  };

   var closeVideo2 = function(){
	  $("#video2").each(function () {
				console.log("Happened2");
				let vidurl = $(this).attr("src");
				console.log(vidurl);
                $(this).attr("src", '');
                $(this).attr("src", vidurl);
            });
  };

   var closeVideo3 = function(){
	  $("#video3").each(function () {
				console.log("Happened3");
				let vidurl = $(this).attr("src");
				console.log(vidurl);
                $(this).attr("src", '');
                $(this).attr("src", vidurl);
            });
  };
</script>
	{% comment %} <div id="fh5co-testimonial" class="fh5co-bg-section" style="background-color:#eff6ee">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="{% static 'images/rev1.jpeg' %}" >
									</figure>
									<span>Smita Sahu</span>
									<blockquote>
										<p>&ldquo;I decided to get in shape and started my weight loss journey. My coach Prasanna Reddy and my fitness coach from GC helped me immensely to achieve the same.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="{% static 'images/rev2.jpg' %}" alt="user">
									</figure>
									<span>Anchal Gupta</span>
									<blockquote>
										<p>&ldquo;He used to correct my posture and helped me understand the purpose behind each and every movement. My work out routine includes cardio, strength training and functional training.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="{% static 'images/rev3.jpeg' %}" alt="user">
									</figure>
									<span>Harshita Roy</span>
									<blockquote>
										<p>&ldquo;When I decided to seek guidance from my brother, who had successfully lost weight, he redirected me to Gymcounselor's and I enrolled in the PCOS diet plan and they gave me more information about food planning, eating pattern, and the importance of vitamins and minerals. And i was in the best shape of my life in no time&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> {% endcomment %}
</div>
</div>

{% endblock %}

  


{% endblock %}
    