<div style="text-align: center;">
    <div class="row">
      <div class="col"
        style="margin-bottom: 0px;border-style: none;border-right-style: none;border-radius: 0px;background: url('../../../static/neuroly/png/homepage/Poster.png') no-repeat, #edf5f7;background-size: cover, auto;height: 222px;">
      </div>
    </div>
  </div>
  <div class="align-items-center align-content-center flex-wrap" style="text-align: right;">
    <div class="row" data-aos="fade" data-aos-delay="500" style="text-align: center;margin-left: 0px;margin-right: 0px;display: flex;justify-content: center;">
        <div class="col-md-11 col-lg-10 offset-md-0 text-center text-sm-center text-md-center text-lg-center text-xl-center d-table-cell" style="border-style: none;border-right-style: none;border-bottom-style: none;background: rgba(41,30,111,0);margin-top: -83px;margin-left: 0px;border-radius: 19px;padding: 1px;text-align: center;color: rgb(255,255,255);">
            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;background: #291e6f;border-radius: 20px;border-width: 0px;">
                <img class="img-fluid" style="border-width: 7px;border-style: solid;border-radius: 30px;margin-top: -80px;width:220px ; height:220px;" src="{{ d.profile_image.url }}" alt="{{request.user.username}}" loading="auto">
                <h1 class = "mobile__heading" style="text-align: center;height: 47px;padding: 4px;margin-bottom: 4px;font-size: 48px;">
                    {{request.user.first_name}} {{request.user.last_name}}
                </h1>
                <p class = "mobile__text" style="padding: 7px;margin-bottom: 3px;margin-top: 12px;font-size: 20px;">@{{request.user.username}}</p>
                <div class="flex-shrink-1" style="text-align: center;font-family: Poppins, sans-serif;border-width: 0px;margin-top: 10px;">
                    <div class="d-inline">
                        <i class="fa fa-phone mobile__text" style="font-size: 29px;margin-top: 11px;margin-right: 0px;margin-left: 0px;border-width: 18px;"></i>
                        <small class = "mobile__text" style="margin-top: 0px;margin-right: 33px;margin-left: 10px;font-size: 20px;font-family: Poppins, sans-serif;">{{d.phone}}</small>
                    </div>
            <div class="d-inline"><i class="fa fa-envelope-o d-inline flex-wrap mobile__text"
                style="font-size: 29px;margin-left: 0px;margin-top: 15px;margin-bottom: 0px;border-width: 18px;"></i><small
                class="d-inline flex-wrap mobile__text"
                style="margin-top: 0px;margin-left: 10px;font-size: 20px;font-family: Poppins, sans-serif;margin-right: 0px;">{{request.user.email}}<br><br></small>
            </div>
          </div>
          <div class="flex-shrink-1"
            style="text-align: center;font-family: Poppins, sans-serif;border-width: 0px;margin-top: -21px;margin-bottom: 0px;font-size: 26px;">
            <div class="d-inline-block" style="margin-left: 0px;margin-bottom: 0px;font-family: Poppins, sans-serif;"><i
                class="fa fa-venus-mars flex-wrap mobile__text"
                style="font-size: 29px;margin-right: 4px;margin-left: 0px;margin-top: 28px;border-width: 11px;"></i><small
                class = "mobile__text" style="margin-left: 8px;margin-right: 0px;font-size: 26px;">{{d.gender}}</small></div>
            <div class="d-inline-block" style="margin-left: 9px;"><i class="fas fa-birthday-cake flex-wrap mobile__text"
                style="font-size: 29px;margin-right: 0px;margin-left: 26px;margin-top: 12px;border-width: 11px;"></i><small
                class = "mobile__text" style="margin-left: 8px;margin-right: 0px;font-size: 26px;margin-bottom: 0px;font-family: Poppins, sans-serif;">{{ d.date_of_birth }}</small>
            </div>
            <div class="d-inline-block"
              style="text-align: center;margin-left: 14px;margin-top: 16px;margin-bottom: 57px;"><i
                class="icon-drop flex-wrap mobile__text"
                style="font-size: 29px;margin-right: 0px;margin-left: 5px;margin-top: 4px;border-width: 2px;margin-bottom: 0px;"></i><small
                class = "mobile__text" style="margin-left: -5px;margin-right: 0px;font-size: 26px;font-family: Poppins, sans-serif;margin-bottom: 0px;">&nbsp;{{ d.bloodgroup }}</small>
            </div>
          </div>


        </div><button class="btn cardbutton btn-lg text-center mobile__text" data-toggle="modal" data-target="#update"
          style="text-align: center;margin-bottom: 19px;margin-top: -28px;font-size: 30px;">Update
          Profile</button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>