{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block extra_head %}
  
<style>

.order_card{
	background-color: white;
	border-radius: 5px;
	padding-right: 0px;
	padding-left: 0px;
	box-shadow: 11px 10px 17px -2px rgba(0,0,0,0.42);
	-webkit-box-shadow: 11px 10px 17px -2px rgba(0,0,0,0.42);
	-moz-box-shadow: 11px 10px 17px -2px rgba(0,0,0,0.42);
}

.order__title{
	font-size: 3vh;
	color: black;
	padding: 10px 0px 0px 20px; 
}

.order__desc{
	padding: 0px 20px;
	{% comment %} font-size: 2vh; {% endcomment %}
	font-size: 13px;
}

.order__status{
	font-family: 'Poppins';
	color: white;
	font-size: 3.2vh; 
	background-color: #F02D3A;
	border-radius: 0px 5px 5px 0px;
	writing-mode: vertical-rl !important;
	padding: 20px 15px;
}

.order__options{
	padding-left: 15px;
	height: 100%;
	width: 100%;
}

.card-wrapper {
	background-color: white;
  width: 620px;
  border-radius: 10px;
  box-shadow: #d8dde5 0px 0px 2px;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 11px 10px 17px -2px rgba(0,0,0,0.42);
	-webkit-box-shadow: 11px 10px 17px -2px rgba(0,0,0,0.42);
	-moz-box-shadow: 11px 10px 17px -2px rgba(0,0,0,0.42);
}

.card-wrapper__bg {
  height: 100px;
  background-image: linear-gradient(to right, #f02d3a, #c4212c, #9a1520, #710a13, #4c0202);
  {% comment %} // background: #f02d3A url("https://images.unsplash.com/photo-1536338701933-9fb6ce505c48?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") no-repeat; {% endcomment %}
  background-position: 100% 100%;
  position: relative;
  
}

.card-wrapper__cover-bg {
  height: 100%;
  text-align: center;
  img {
    height: 100%;
  }
}

.card-wrapper__profile-pic {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,0.7);
  border-radius: 100px;
  left: 50%;
  margin-left: -50px;
  top: 30px;
  overflow: hidden;
  padding: 10px;
  
  img {
    width: 150% !important;
    height: 150% !important;
    display: block !important;
    margin-left: -25px !important;
    margin-top: -25px !important;
  }
}


.text-center {
  text-align: center;
}

.card-wrapper__details {
  padding-top: 65px;
  padding-bottom: 20px;
}

.card-wrapper__user-name a {
  color: #1085E0;
  text-decoration: none;
  font-size: 26px;
}

.card-wrapper__user-detail {
  font-size: 16px;
  color: #707070;
}

.card-wrapper__user-contact-info {
  padding-top: 20px;
  
  .card-wrapper__user-contact-info-label {
    font-size: 16px;
    color: #707070;
  }
  
  .card-wrapper__user-contact-info-value,
  .card-wrapper__user-contact-info-value a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
  }
}

.dash_user_details{
	font-size: 20px;
}

.dash__user__image{

	border: 7px solid #F02d3a; 
	border-radius: 30px;
	margin-top: -100px; 
	width: 220px; 
	height:220px;
}

.dash__button{
	height: 50px;
	margin: 10px 40px;
	padding: 2px 40px;
	text-decoration: none;
	border-radius: 30px;
	line-height: 45px;
	color: #FFF;
	background: #F02D3A;
	border: 2px solid #fff;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}


@media only screen and (max-width: 767px) {

	.order__desc{
		padding: 0px 20px;
		font-size: 2vh;
	}

	.order__status{
		writing-mode: horizontal-tb !important;
		border-radius: 0px 0px 5px 5px;
		text-align: center;
	}

	.card-wrapper {
		width: 100%;
	}
	
	.dash__name{
		font-size: 4.5vh !important;
	}
	
	.dash_user_details{
		font-size: 2.2vh !important;
	}

	.dash__user__image{

	border: 7px solid #F02d3a; 
	border-radius: 30px;
	margin-top: -100px; 
	width: 170px; 
	height:170px;
}

}



</style>

{% endblock extra_head %}

{% block content %}
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
	    <div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="https://www.instagram.com/gymcounselor/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/gymcounselor"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UChvRw7rp9-gX00EpiCoMDNg"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gymcounselor/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo" style = "font-family: 'Poppins', sans-serif;"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							<li class="has-dropdown"><a>Services</a>
							{% for s in props|hash:'services' %}
								<ul class="dropdown">
									<li><a href="{% url 'prod_detail' s.slug %}">{{ s.name }}</a></li>
								</ul>
							{% endfor %}
							</li>
							{% if request.user.is_authenticated %}
                            <li class="has-dropdown"><a> Hey, {{ user.first_name }}</a>
								<ul class="dropdown">
									<li><a href="{% url 'dashboard' %}">My Profile</a></li>
									<li><a href="{% url 'myorders' %}">My Orders</a></li>
									<li><a href="{% url 'logout' %}">Logout</a></li>
								</ul>
							</li>
							{% else %}
							<li class="btn-cta"><a href="{% url 'login' %}?next={{request.path}}"><span>Login</span></a></li>
                            {% endif %}
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
    {% comment %} <nav class="fh5co-nav" style="background-color: #5D5B95; position: initial !important;" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="{% url 'logout' %}">Logout</a></li>
					</div>
				</div>
			</div>
		</div>
	</nav> {% endcomment %}
	
    <div class="user_info" style = "background: linear-gradient(to right, #d3cce3, #e9e4f0);">
	<div class="row" style = "margin: 0">
		<div class="col" style="margin-bottom: 0px;border-style: none;border-right-style: none;border-radius: 0px;background-color: #f02d3a;background-size: cover, auto;height:300px; ">
			<br>
			<br>
			<br>
		</div>
	</div>
	<div class="row text-center" style = "margin: 0">
		<div class="col" style="border-radius: 50px;background-color: #fff; width: 80%; margin: -50px auto 0 auto;">
			<img class="img-fluid dash__user__image"  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Dhruv" loading="auto">
			<br>
			<br>
			<h1 class  = "dash__name" style = "font-family: 'Poppins'; font-weight: 600; color: #F02d3a; font-size: 5vw;">{{request.user.first_name }} {{ request.user.last_name}}</h1>
			<div class="row dash_user_details">
			{% for customer in props|hash:'user' %}
				<div class="col-sm-6 col-xs-12">
					<p>
						<span style = "color: #F02D3A; font-weight: 600"><i class="far fa-envelope"></i> Email: </span> {{ request.user.email }}
					</p>
				</div>
				<div class="col-sm-6 col-xs-12">
					<p>
						<span style = "color: #F02D3A; font-weight: 600"><i class="fas fa-phone"></i> Mobile: </span> {{ customer.ph_no }}
					</p>
				</div>	
			</div>
			<div class="row dash_user_details">
				<div class="col-sm-6 col-xs-12">
					<p>
					
						<span style = "color: #F02D3A; font-weight: 600"><i class="fas fa-weight"></i> Weight: </span> {{ customer.weight }} Kgs 
					</p>
					
				</div>
				<div class="col-sm-6 col-xs-12">
					<p>
						<span style = "color: #F02D3A; font-weight: 600"><i class="fas fa-ruler-vertical"></i> Height: </span> {{ customer.height }} cms
					</p>
				</div>
				{% endfor %}	
			</div>
		<br>
			{% comment %} <button class = "btn dash__button">Update Profile</button> {% endcomment %}
			<a data-toggle="modal" class = "btn dash__button" href="#myModal1" data-backdrop="static" style = "font-family: 'Poppins';">
				Update Profile 
			</a>
		</div>
	</div>


	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeVideo1()">×</button>
					<h4 class="modal-title">Update Detials</h4>
				</div>
				<form action="/updateuserdetails" method="post">
         	 	{% csrf_token %}
					<div class="modal-body" >
					{% for customer in props|hash:'user' %}
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<label> First Name: </label>
								<input type="text" class="form-control" name = "first_name" id = "first_name" placeholder="Enter your first name" aria-describedby="basic-addon1" value = "{{request.user.first_name }}" required>	
							</div>
							<div class="col-md-6 col-xs-12">
								<label> Last Name: </label>
								<input type="text" class="form-control" name = "last_name" id = "last_name" placeholder="Enter your last name" value = "{{request.user.last_name }}"  aria-describedby="basic-addon1" required>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<label> Mobile Number: </label>
								<input type="text" class="form-control" name = "ph_no" id = "ph_no" placeholder="Enter your mobile number" value = "{{ customer.ph_no }}" aria-describedby="basic-addon1" required>	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<label> Weight: </label>
								<input type="text" class="form-control" name = "weight" id = "weight" placeholder="Enter weight in Kgs." value = "{{ customer.weight }}" aria-describedby="basic-addon1" required>	
							</div>
							<div class="col-md-6 col-xs-12">
								<label> Height: </label>
								<input type="text" class="form-control" name = "height" id = "height" placeholder="Enter height in cms."value = "{{ customer.height }}"  aria-describedby="basic-addon1" required>
							</div>
						</div>
					{% endfor %}
					</div>
					<div class="modal-footer text-center">
						<button type="submit" class="btn dash__button">Save changes</button>
					</div>
				</form>
      		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
  	</div><!-- /.modal -->
		<br>
		<br>
		<br>
		
		{% comment %} <h2>Hello, {{ user.first_name }}</h2> {% endcomment %}
		{% comment %} <div class="container" style = "width: 80%">	
			<div class="row" >
				<div class="card-wrapper"> 
					<div class="card-wrapper__bg">
						<div class="card-wrapper__cover-bg">
						</div>
						<div class="card-wrapper__profile-pic">
						<img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" style = "width: 130px; height: 130px; margin: -25px 0px 0px -25px; "> 
						</div>
					</div>
					<div class="card-wrapper__details">
						<div class="card-wrapper__user-details">
							<div class="text-center card-wrapper__user-name" style = "color: #F02d3a; font-weight: 800; font-size: 30px">
								Dhruv Kothari
							</div>
							<div class="text-center card-wrapper__designation card-wrapper__user-detail">
								Web Developer
							</div>
							<div class="text-center card-wrapper__company  card-wrapper__user-detail" style = "color: #F02d3a; font-weight: 600">
								Gymcounselor
							</div>
						</div>
					<div class="card-wrapper__user-contact-info-wrapper text-center">
						<div class="card-wrapper__user-contact-info card-wrapper__user-contact-info--email">
							<div class="card-wrapper__user-contact-info-label" style = "color: #F02d3a; font-weight: 600">
							Email
							</div>
							<div class="card-wrapper__user-contact-info-value">
								kotharidhruv25@gmail.com
							</div>
						</div>
						<div class="card-wrapper__user-contact-info card-wrapper__user-contact-info--email">
							<div class="card-wrapper__user-contact-info-label" style = "color: #F02d3a; font-weight: 600">
								Mobile
							</div>
							<div class="card-wrapper__user-contact-info-value">
								+91 - 98435 77765
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div> {% endcomment %}
			
			

			<div class="text-center" >
				<h1 style = "font-size: 40px; font-family: 'Poppins'; font-weight: 800; color: #F02D3A;">My Orders</h1>
			</div>
			{% for order in props|hash:'orders' reversed %}
				<div class="row justify-content-center" style="margin: 0; padding: 30px">
					<div class="col-md-8 col-md-offset-2 col-xs-12 order_card">
						<div class="col-sm-11 col-xs-12">
							<div class="row order__title"> {{order.service_name}} </div>
							<div class="row order__desc">
								<p> Do you want to finally reverse your PCOS symptoms? Then you need to fix the root of your PCOS. Let my team and I send you some evidence-backed information to do just that.. </p>
							</div>
							<div class="row order__options">
								<div class="col-sm-4 col-xs-12">
									<p> <span style="color: #F02D3A; font-weight: 600"><i class="fas fa-history"></i> Order Id: </span> {{order.order_id}} </p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p> <span style="color: #F02D3A; font-weight: 600"><i class="far fa-calendar-alt"></i> Order Date: </span> {{order.oder_date|date:"d-M-Y"}} </p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p> <span style="color: #F02D3A; font-weight: 600"><i class="far fa-calendar-alt"></i> Expiry Date: </span> {{order.expiry_date|date:"d-M-Y"}} </p>
								</div>
							</div>
						</div>
						{% now "Y-m-d" as todays_date %}
						{% if todays_date < order.expiry_date|date:"Y-m-d" %}
							<div class="col-sm-1 col-xs-12 order__status" style="background: #4BB543"> On Going </div>
						{% else %}
							<div class="col-sm-1 col-xs-12 order__status"> Completed </div>
						{% endif %}						
					</div>
				</div>
				<br>
			{% endfor %}
			<br>
			<br>
			<br>
		</div>
    </div>
{% endblock %}